.Select.form-control {
  padding: 0;
  &.is-focused {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
  
  .Select-control {
    height: 32px;
    border: 0;

    .Select-placeholder {
      height: 32px;
      padding: 6px 52px 6px 10px;
    }

    .Select-clear {
      padding: 4px 10px;
    }
  }
}
